
  
  @font-face {
    font-family: "firagoextra";
    src: url(~assets/fonts/FiraGO-ExtraLight.ttf);
    font-display: swap;
  }



  @font-face {
    font-family: "firagolight";
    src: url(~assets/fonts/FiraGO-Light.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: "firagoregular";
    src: url(~assets/fonts/FiraGO-Regular.ttf);
    font-display: swap;
  }


  @font-face {
    font-family: "firagomedium";
    src: url(~assets/fonts/FiraGO-Medium.ttf);
    font-display: swap;
  }
  


  p{
    margin: 0;
    padding: 0;
  }


  a{
    color: inherit;
    text-decoration: none;
  }
